<!-- SCRIPT -->

    			<script src="/resources/js/production.min.js"></script>
    			<script type="text/javascript" src="/resources/fancybox/jquery.fancybox.pack.js"></script>
    			<script>
    				$(document).ready(function() {
    					$('.fancybox').fancybox({
    						padding:0,
    						closeBtn:false,
                            overlayShow:true
    					});
    				});
    			</script>
    		</body>
    		</html>