<!-- FOOTER -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 logo">
				<img src="/resources/img/footerlogo.png" class="img-responsive" alt="Image">
				<p>&copy;2016 Deaver Electric Inc.</p>
			</div>
			<div class="col-sm-3 contact">
				<h5>Contact</h5>
				<p><a target="_blank" href="https://www.google.com/maps/place/8816+Swanson+Blvd,+Clive,+IA+50325/@41.6061627,-93.7394417,17z/data=!3m1!4b1!4m2!3m1!1s0x87ee9e1bc2af06a7:0xabcc36b42ec16194">8816 Swanson Blvd<br>Clive, IA 50325</a></p>
				<p><a data-rel="external" href="tel:5152029481" target ="_blank">515-202-9481</a></p>
				<p><a  href="mailto:info@deaverelectricinc.com">info@deaverelectricinc.com</a></p>
				<a href="#quote" data-toggle="modal"><button type="button" class="btn btn-lg">Get A Quote</button></a>
			</div>
			<div class="col-sm-3 hours">
				<h5>Buiness Hours</h5>
				<p>Monday - Friday: 4am to 8pm</p>
			</div>
			<div class="col-sm-3 navigation">
				<h5>Navigation</h5>
				<nav>
					[[!Wayfinder? &level=`1` &startId=`0` &outerTpl=`nav-footer` &rowTpl=`nav-row-footer` &sortBy=`menuindex`]]
				</nav>
			</div>
		</div>
	</div>
</footer>