<!-- Header -->

    			<header style="background-image:url('[[*header_image:phpthumbof=`w=1600&h=800&zc=1&fltr[]=brit|-50`]]');">
    				<div class="header-content">
    					<div class="header-content-inner">
    						<h1>professional electricans</h1>
    						<span>for Des Moines and All of Central Iowa</span>
    					</div>
    				</div>
    			</header>
    			[[$quote_modal]]
