<div class="great-work">
	<div class="row">
		<div class="col-sm-12">
			<i class="fa fa-stop"></i><span>great work</span>
			<h2>from the showcase</h2>
		</div>
	</div>
</div>
<div class="showcase">
	<div class="row">
		[[!Gallery? &album=`Showcase` &thumbTpl=`ditto_gallery_item` &limit=`4`]]
	</div>
</div>
<div class="see-more">
	<div class="row">
		<div class="col-sm-12 text-center">
			<a href="[[~7]]" class="btn btn-lg">See More of Our Work</a>
		</div>
	</div>
</div>