<!-- Intro -->

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-10">
				<ul class="intro-left">
					<li><a href="#quote" data-toggle="modal"><button type="button" class="btn btn-default pull-left">Get A Quote</button></a></li>
					<li>
						<span><strong>Phone:</strong>
							<a href="tel:+15152089481">515-202-9481 </a></span>
						</li>
						<li>
							<span><strong>Email:</strong>
								<a  href="mailto:info@deaverelectricinc.com">info@deaverelectricinc.com</a></span>
							</li>
						</ul> 
					</div>
					<div class="col-xs-2">
						<ul class="social">
							<li><a href="https://www.facebook.com/Deaver-Electric-Inc-201910576495079/?fref=ts" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Fixed navbar -->

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="[[~1]]" class="pull-left"><img src="/resources/img/logo.png" class="img-responsive"></a>
				</div>
				<div class="collapse navbar-collapse">
					[[Wayfinder? 
					&level=`2` 
					&startId=`0` 
					&innerTpl=`nav-inner` 
					&outerTpl=`nav-outer`
					 &sortBy=`menuindex`
					 &parentRowTpl=`parent`
						&sortBy=`menuindex` 
						&excludeDocs=`1` 
				        &titleOfLinks=`menutitle`
				        &levelClass=`has-sub`
					 ]]
				</div><!--/.nav-collapse -->
			</div>
		</nav>

