<li class="[[+wf.classnames]]">
<span class="submenu-button"></span>
	
	<a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> [[+wf.linktext]] <span class="caret"></span> </a>
	<ul class="dropdown-menu" aria-labelledby="dLabel">
		[[+wf.wrapper]]
	</ul>
		
	
</li>