 [[!FormIt?
 &hooks=`spam, email`
 &emailFrom=`[[++primary_email]]`
 &emailTpl=`snt_from_employment`
 &emailTo=`[[++primary_email]]`
 &emailBCC=`justin.lobaito@weloideas.com`
 &emailSubject=`New Job Application`
 &validate=`
 phone:required, 
 state:required, 
 first_name:required, 
 last_name:required, 
 city:required, 
 address:required, 
 email:required, 
 email:email, 
 nospam:blank,
 city:requried,
 zip:required,
 employer:required,
 last-salay-range:required,
 start-date:required,
 end-date:required,
 last-position:required,
 description:required,
 current-salary:requried,
 why-work:required,
 referral-1-name:required,
 referral-2-name:required,
 `
 &successMessage=`<div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h3>Thank you for getting in contact with us.</h3>
 <p>A [[++site_name]] representative will get in contact with you shortly</p>
</div>`
]]

[[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<div>
		<strong><h3>Please review the following errors:</h3></strong>
		[[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		[[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		[[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		[[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
		[[!+fi.error.addres:!empty=`<p>An Address is required</p>`]]
		[[!+fi.error.city:!empty=`<p>A city is required</p>`]]
		[[!+fi.error.zip:!empty=`<p>Zip code is required</p>`]]
		[[!+fi.error.employer:!empty=`<p>Name of your most recent employer is required</p>`]]
		[[!+fi.error.last-salary:!empty=`<p>Your previous salary range is required</p>`]]
		[[!+fi.error.start-date:!empty=`<p>The start date of your previous employment is required</p>`]]
		[[!+fi.error.end-date:!empty=`<p>The end date of your previous employment is required</p>`]]
		[[!+fi.error.last-position:!empty=`<p>The position you held with your previous employer is required</p>`]]
		[[!+fi.error.description:!empty=`<p>A description of your job duties at your previous employment is required</p>`]]
		[[!+fi.error.current-salary:!empty=`<p>Your expected salary range is required</p>`]]
		[[!+fi.error.why-work:!empty=`<p>Briefly describe why you want to work with Deaver Electric Inc.</p>`]]
		[[!+fi.error.referral-name-1:!empty=`<p>Two references are required</p>`]]
		[[!+fi.error.referral-name-2:!empty=`<p>Two references are required</p>`]]
	</div>
</div>
`]]
[[!+fi.successMessage]]


<form class="main-form contact-form" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data" >

	<div class="row">
		<div class="col-xs-12">
			<h2>Personal Information</h2>
			
		</div>

		<div class="col-sm-6">
			<label for="date">Date<sup>*</sup></label>
			<input type="date" value="[[!+fi.date]]" id="date" name="date">
		</div>
		<div class="col-sm-6">
			<label for="date">Position<sup>*</sup></label>
			<select name="position" id="position" value="[[!+fi.position]]">
				<option value="hide">- Select an option -</option>
				<option value="Helper">Helper</option>
				<option value="Apprentice Electrician">Apprentice Electrician</option>
				<option value="Journeyman Electrician">Journeyman Electrician</option>
				<option value="Administration">Administration</option>
			</select>
		</div>
		<div class="col-sm-6">
			<label for="first_name">First Name<sup>*</sup></label>
			<input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
		</div>
		<div class="col-sm-6">
			<label for="last_name">Last Name<sup>*</sup></label>
			<input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
		</div>
		<div class="col-sm-6">
			<label for="email">Email Address<sup>*</sup></label>
			<input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
		</div>
		<div class="col-sm-6">
			<label for="phone">Phone<sup>*</sup></label>
			<input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
		</div>
		<div class="col-xs-3">
			<label for="address">Address<sup>*</sup></label>
			<input type="text" value="[[!+fi.address]]" id="address" name="address" >
		</div>
		<div class="col-sm-3">
			<label for="city">city<sup>*</sup></label>
			<input type="text" value="[[!+fi.city]]" id="city" name="city">
		</div>
		<div class="col-sm-3">
			<label for="state">State<sup>*</sup></label>
            <select value="[[!+fi.state]]" id="state" name="state">
                [[!FormItStateOptions? &selected=`[[!+fi.state]]`]]
             </select>
		</div>
		<div class="col-sm-3">
			<label for="zip">Zip<sup>*</sup></label>
			<input type="text" value="[[!+fi.zip]]" id="zip" name="zip">
		</div>
		<div class="col-sm-6">
			<label for="felony">Have you ever been convicted of a felony<sup>*</sup></label>
			<select name="felony" id="felony" value="[[!+fi.felony]]">
				<option value="hide">- Select an option -</option>
				<option value="No">No</option>
				<option value="Yes">Yes</option>
			</select>
		</div>
		<div class="col-sm-6">
			<label for="felony-explain">If Yes, please explain</label>
			<input type="text" value="[[!+fi.felony-explain]]" id="felony-explain" name="felony-explain" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<label for="license">Do you have a valid driver's license<sup>*</sup></label>
			<select name="license" id="license" value="[[!+fi.license]]">
				<option value="hide">- Select an option -</option>
				<option value="No">No</option>
				<option value="Yes">Yes</option>
			</select>
		</div>
		<div class="col-xs-12">
			<hr>
			<h2>Employment History</h2>

		</div>
		<div class="col-xs-12">
			<label for="employer">Most Recent Employer<sup>*</sup></label>
			<input type="text" value="[[!+fi.employer]]" id="employer" name="employer" >
		</div>
		<div class="col-xs-4">
			<label for="last-salay-range">Last Salary Range<sup>*</sup></label>
			<input type="text" value="[[!+fi.last-salay-range]]" id="last-salay-range" name="last-salay-range" >
		</div>
		<div class="col-xs-4">
			<label for="start-date">Start Date<sup>*</sup></label>
			<input type="date" value="[[!+fi.start-date]]" id="start-date" name="start-date" >
		</div>
		<div class="col-xs-4">
			<label for="end-date">End Date<sup>*</sup></label>
			<input type="date" value="[[!+fi.end-date]]" id="end-date" name="end-date" >
		</div>
		<div class="col-xs-6">
			<label for="last-position">Position<sup>*</sup></label>
			<input type="text" value="[[!+fi.last-position]]" id="last-position" name="last-position" >
		</div>
		<div class="col-xs-6">
			<label for="reason">Reason Employment Ended</label>
			<input type="text" value="[[!+fi.reason]]" id="reason" name="reason" >
		</div>
		<div class="col-xs-12">
			<label for="description">Descrption of Job Duties<sup>*</sup></label>
			<textarea value="[[!+fi.description]]" id="description" name="description"></textarea>
		</div>
		<div class="col-xs-12">
			<hr>
		</div>
		<div class="col-xs-12">
			<label for="current-salary">Your Current Salary Range<sup>*</sup></label>
			<input type="text" value="[[!+fi.current-salary]]" id="current-salary" name="current-salary" >
		</div>
		<div class="col-xs-12">
			<label for="why-work">Briefly Describe Why You Want to Pursue Employment at Deaver Elecrtic Inc.? <sup>*</sup></label>
			<textarea value="[[!+fi.why-work]]" id="why-work" name="why-work"></textarea>
		</div>
		
		<div class="col-xs-12">
			<hr>
			<h2>Referrals</h2>
			<div class="row">
				
				<div class="col-xs-12 col-sm-4">
					<label for="referral-1-name">Name<sup>*</sup></label>
					<input type="text" value="[[!+fi.referral-1-name]]" id="referral-1-name" name="referral-1-name" >
				</div>
				<div class="col-xs-12 col-sm-4">
					<label for="referral-1-email">Email</label>
					<input type="email" value="[[!+fi.referral-1-email]]" id="referral-1-email" name="referral-1-email" >
				</div>
				<div class="col-xs-12 col-sm-4">
					<label for="referral-1-phone">Phone</label>
					<input type="text" value="[[!+fi.referral-1-phone]]" id="referral-1-phone" name="referral-1-phone" >
				</div>
			</div>
			<div class="row">
				
				<div class="col-xs-12 col-sm-4">
					<label for="referral-2-name">Name<sup>*</sup></label>
					<input type="text" value="[[!+fi.referral-2-name]]" id="referral-2-name" name="referral-2-name" >
				</div>
				<div class="col-xs-12 col-sm-4">
					<label for="referral-2-email">Email</label>
					<input type="email" value="[[!+fi.referral-2-email]]" id="referral-2-email" name="referral-2-email" >
				</div>
				<div class="col-xs-12 col-sm-4">
					<label for="referral-2-phone">Phone</label>
					<input type="text" value="[[!+fi.referral-2-phone]]" id="referral-2-phone" name="referral-2-phone" >
				</div>
			</div>


		</div>
		
		<div class="col-xs-12">
			<hr>
			<h2>Terms</h2>
			<p>I understand I will be tested for illegal drug use and will be criminally background checked by Deaver Electric Inc. if I am under serious consideration for employment.</p>
			<div class="row">
				<div class="col-sm-4">
					<label for="testing">Do You Agree to This?<sup>*</sup></label>
					<select name="testing" id="testing" value="[[!+fi.testing]]">
						<option value="hide">- Select an option -</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>

					</select>
				</div>
			</div>
			
			<p>I here by declare that all the infomation I have submitted is true and accurate to the best of my knowlege. I understand that if any information is found to be false or misrepresented that my application will become null and void. I also understand that if I am hired and any information is found to be false or misrepresented that my employment may be terminated.</p>
			<p>All hired applicants are subject to a 90 day probational period. The probational period starts the first day of my employment.</p>
			<div class="row">
				<div class="col-sm-4">
					<label for="probation">Do You Agree to This?<sup>*</sup></label>
					<select name="probation" id="probation" value="[[!+fi.probation]]">
						<option value="hide">- Select an option -</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				</div>
			</div>
			<p>If you  have a resume you may upload it here.</p>
			<div class="row">
				<div class="col-xs-12">
					<input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
					<label for="probation">Upload your resume</label>
					<input type="file" name="resume" value="[[!+fi.resume]]" />
					<input class="btn btn-lg contact" type="submit" value="Send our way" />

				</div>
			</div>
		</div>
	</div>
	
	
</form>
