 [[!FormIt?
 &hooks=`spam, email`
 &emailFrom=`[[++primary_email]]`
 &emailTpl=`snt_from`
 &emailTo=`[[++primary_email]]`
 &emailBCC=`justin.lobaito@weloideas.com`
 &emailSubject=`Contact Form Submission`
 &validate=`phone:required, first_name:required, last_name:required,  email:required, email:email, comments:required:stripTags, nospam:blank`
 &successMessage=`<div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h3>Thank you for getting in contact with us.</h3>
 <p>A [[++site_name]] representative will get in contact with you shortly</p>
</div>`
]]

[[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<div>
		<strong><h3>Please review the following errors:</h3></strong>
		[[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		[[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		[[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		[[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
		[[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

	</div>
</div>
`]]
[[!+fi.successMessage]]


<form class="main-form contact-form" action="[[~[[*id]]]]" method="post"  >

	<div class="row">
		<div class="col-sm-6">
			<label for="first_name">First Name<sup>*</sup></label>
			<input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
		</div>
		<div class="col-sm-6">
			<label for="last_name">Last Name<sup>*</sup></label>
			<input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<label for="email">Email Address<sup>*</sup></label>
			<input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
		</div>
		<div class="col-sm-6">
			<label for="phone">Phone<sup>*</sup></label>
			<input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label for="phone">I am interested in<sup>*</sup></label>
			<select name="interest" id="interest" value="[[!+fi.interest]]">
				
				<option value="hide">- Please Make a Selection -</option>
				<option value="Service">Service</option>
				<option value="Commercial Bid">Commercial Bid</option>
				<option value="Residential Bid">Residential Bid</option>
			</select>

			<label for="comments">Briefly Describe your project<sup>*</sup></label>
			<textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
			<input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
			<div class="row-wrap">
				<input class="btn btn-lg contact" type="submit" value="Send our way" />
			</div>
		</div>
	</div>
	
	
</form>
