<p style="color:red">Do not reply to this email</p>

[[+first_name]] [[+last_name]] left you the message below from deaverelectricinc.com : <br />
<br />
Phone Number: [[+phone]]<br />
<br />

They are interested in: <strong>[[+interest]]</strong> <br><br>
<strong>[[+comments]]</strong><br /><br />

You can respond to [[+first_name]] [[+last_name]] by email at <a href="mailto:[[+email]]">[[+email]]</a> or by phone at [[+phone]]