<p style="color:red">Do not reply to this email</p>

[[+first_name]] [[+last_name]] has submitted a new job application:<br>

Date Submitted: [[+date]]<br><br>
Position interested in: <strong>[[+position]]</strong> <br>
<br />
<h1>Employee Information</h1>
Phone Number: [[+phone]]<br />
Email: [[+email]]<br />
Address: [[+address]]<br />
City: [[+city]]<br />
[[+state:notempty=`State: [[+state]]<br />`]]
[[+zip:notempty=`Zip: [[+zip]]<br>`]]
Has he/she been convicted of a felony? [[+felony]]<br>
[[+felony-explain:notempty=`If yes, the reason: [[+felony-explain]]<br>`]]
Does he/she have an active driver's license: [[+license]] <br>
<hr>
<h1>Employment History</h1>
[[+employer:notempty=`Employer: [[+employer]]<br>`]]
[[+last-salary-range:notempty=`Salary Range: [[+last-salary-range]] <br>`]]
[[+start-date:notempty=`Start date: [[+start-date]]<br>`]]
[[+end-date:notempty=`End date: [[+end-date]]<br>`]]
[[+last-position:notempty=`Position: [[+last-position]] <br>`]]
[[+reason:notempty=`Reason for leaving: [[+reason]]<br>`]]
[[+description:notempty=`Description of job duties: [[+description]] <br>`]]
<br>
[[+current-salary:notempty`Current salary range: [[+current-salary]] <br>`]]
[[+why-work:notempty`Reason for wanting to work at Deaver Electric Inc.: [[+why-work]] <br>`]]
<hr>


[[+referral-1-name:notempty=`
<h1>Referrals</h1>
Name: [[+referral-1-name]] | Email: <a href="mailto:[[+referral-1-email]]">[[+referral-1-email]]</a> | Phone: [[+referral-1-phone]]<br>
`]]
[[+referral-2-name:notempty=`
Name: [[+referral-2-name]] | Email: <a href="mailto:[[+referral-2-email]]">[[+referral-2-email]]</a> | Phone: [[+referral-2-phone]]
`]] 
<br><br>
Testing terms: [[+testing]] <br>
Mandatory probation period: [[+probation]]<br>


You can respond to [[+first_name]] [[+last_name]] by email at <a href="mailto:[[+email]]">[[+email]]</a> or by phone at [[+phone]]

<p style="color:red">Do not reply to this email</p>

