[[$doc_head]]
<body class="interior">
	[[$navigation]]
	[[$header]]
	<section>
		<div class="container">
			<div class="col-xs-12">
				<h1>[[*pagetitle]]</h1>
				[[*content]]
			[[$contact-employment]]
			</div>
		</div>
	</section>

	[[$footer]]
	[[$doc_footer]]