[[$doc_head]]
<body>
	[[$navigation]]
	[[$header]]
    	    	
    			<!-- Services -->

    			<section>
    				<div class="container services">
    					<div class="row">
    						<div class="col-xs-12 col-sm-6 text-left">
    							<div class="hello">
    								<i class="fa fa-stop"></i><span>hello</span>
    								<h1>[[*pagetitle]]</h1>
    								[[*content]]
    							</div>
    						</div>
                            <div class="col-xs-12 col-sm-6 text-left">
                                <div class="hello">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/[[*youtube]]?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
    						<!-- <div class="col-sm-4">
    							<div class="hello-button">
    								<a href="[[~8]]" class="btn btn-lg btn-hello">Contact Us Today</a>
    							</div>
    						</div> -->
    					</div>
    					<hr>
    					<div class="row">
    						<div class="col-md-12 text-left">
    							<div class="any-job">
    								<i class="fa fa-stop"></i><span>any job</span>
    								<h2>our services</h2>
    								[[*our-services]]
    							</div>
    						</div>
    					</div>
    				</div>
    			</section>

    			<!--Residential Commerical Images-->
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 no-gutter">
                            <div class="residential-img">
                                <img src="[[*residential-image:phpthumbof=`w=800&h=550&zc=1`]]" class="img-responsive">
                                <a href="/services/residential" class="residential-overlay">
                                <div class="content">
                                    <h2>residential</h2>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 no-gutter">
                            <div class="commercial-img">
                                <img src="[[*commercial-image:phpthumbof=`w=800&h=550&zc=1`]]" class="img-responsive">
                                <a href="/services/commercial" class="commercial-overlay">
                                <div class="content">
                                    <h2>commerical</h2>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

    			<!-- Hire Us -->
    			
    			<section>
    				<div class="container">
    					<div class="hire-us">
    						<div class="row">
    							<div class="col-md-10">
    								<p>[[*marketing]]</p>
    							</div>
    							<div class="col-md-2">
    								<a href="#quote" data-toggle="modal"><button type="button" class="btn btn-lg pull-right">Hire Us Now</button></a>
    							</div>
    						</div>
    					</div>
    					<hr>
    					<div class="solid-connection">
    						<div class="row">
    							<div class="col-md-12">
    								<i class="fa fa-stop"></i><span>a solid connection</span>
    								<h2>why choose us?</h2>
    							</div>
    						</div>
    					</div>
    					<div class="choose-us">
    						<div class="row">
    							<div class="col-sm-4">
    								<h2>[[*choose-us-one-title]]</h2>
    								<p>[[*choose-us-one-text]]</p>  
    							</div>
    							<div class="col-sm-4">
    								<h2>[[*choose-us-two-title]]</h2>
    								<p>[[*choose-us-two-text]]</p>  
    							</div>
    							<div class="col-sm-4">
    								<h2>[[*choose-us-three-title]]</h2>  
    								<p>[[*choose-us-three-text]]</p>  
    							</div>
    						</div>
    					</div>
    				<!-- 	<hr>
    					[[$homepage_showcase]] -->
    				</div>
    			</section>

    			


	[[$footer]]
	[[$doc_footer]]