[[$doc_head]]
<body class="interior">
	[[$navigation]]
	[[$header]]	
	<section class="interior">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-left main-content">
					<div class="section-title">
						<h1>[[*pagetitle]]</h1>
					</div>
					[[*content]]

				</div>
			</div>
		</div>
	</section>		
	[[$footer]]
	[[$doc_footer]]