[[$doc_head]]
<body class="interior">
	[[$navigation]]
	[[$header]]

	<!-- Services -->

	<section class="services">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-sm-3 vertical services-sidebar">
					<nav>
						[[Wayfinder? &level=`1` &startId=`4` &outerTpl=`nav-sidebar` &sortBy=`menuindex`]]
					</nav>
				</div>
				<div class="col-sm-9 sidebar-text">
					<h3>[[*pagetitle]]</h3>
					[[*content]]
					[[*album:notempty=`
					<br>
					<h4>From our showcase</h4>
					<div class="showcase">
						<div class="row">
							[[!Gallery? &album=`[[*album]]` &thumbTpl=`ditto_gallery_item`]]
						</div>
					</div>
					`]]
				</div>
			</div>
			<hr>
		</div>
	</section>

	[[$footer]]
	[[$doc_footer]]