[[$doc_head]]
<body class="interior">
	[[$navigation]]
	[[$header]]
  
    <!-- Showcase -->
    <section class="gallery">
        <div class="container">
            <div class="container-wrap">
                <h1>[[*pagetitle]]</h1>
            </div>
            [[getImageList?
              &tvname=`gallery`
              &tpl=`gallery`
            ]]
        </div>
    </section>
    


    [[$footer]]
    [[$doc_footer]]