<div class="col-sm-3 showcase-item">
	<div class="showcase-img">
		<img src="[[+image_absolute:phpthumbof=`w=300&h=250&zc=1`]]" class="img-responsive">
		<a href="[[+image_absolute]]" class="showcase-overlay fancybox" title="[[+name]]" rel="gallery">
			<i class="showcase-overlay-icon fa fa-search fa-3x"></i>
		</a>
	</div>
</div>