/* Contact Form */
.main-form {
  position: relative;
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}

input[type*="file"]{
  border:none !important;
  line-height: 1 !important;
}




.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: none;
  height:60px;
}

.main-form input,
.main-form textarea {
  border: 1px solid #c9c9c9;
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
}

.main-form textarea {
  min-height: 200px;
}

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.main-form select:focus {
  outline: none;
}

.contact-form-heading {
  margin: 20px auto 30px auto;
  span {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
}

.main-form sup {
  top: unset;
  font-size: 100%;
}

.main-form button {
  margin-top: 40px;
}



.btn.btn-lg.contact {
  color: #fbe7e6;
  background-color: #d90119;
  border-color: #d90119;
  padding: 15px 28px;
  font-size: 13px;
  line-height: 1.333;
  border-radius: 6px;
  font-weight: 700;
  width:auto;
  margin:2em 0;
  &:hover {
    color: #fbe7e6;
    background-color: #8a0312;
    border-color: #8a0312;
  }
}

.close {
  text-shadow: none;
}

.alert-error{
  .close {
    color:$red;
    @include opacity(1);
    text-shadow:none;
  }
  p {
    color:$red;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #696969;
  font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #696969;
  font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #696969;
  font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #696969;
  font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input[type="submit"] {
  @extend .button !optional;

}

.main-form input.cbp-mc-submit:hover {
  background: $secondary;
}

#nospam, .nospam {
  display:none;
}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}