// Gallery
.gallery {
	// background-color: #5a5a5a;
	span {
		font-size: 16px;
		font-weight: bold;
		color: #000000;
	}
}

.gallery .showcase {
	margin-bottom: 35px;
}

/*Showcase Img*/
.showcase {
	margin:14px 0 0 0;
	padding:0 15px 0 15px;

	.showcase-img {
		position: relative;

		img {
			width: 100%;
			vertical-align: top;
		}
		.showcase-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			opacity: 0.7;
			cursor: pointer;

			&:hover {
				background-color: transparent;

				.showcase-overlay-icon {
					color: #fff;
				}
			}
		}
	}
}

.showcase-item {
	padding: 1px;
}

.showcase-overlay-icon {
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.showcase-img:hover .showcase-overlay-icon {
	opacity: 1;
}

@media (max-width: 480px) {
	.showcase-img {
		display: block;
	}
}