// Header

.interior {
	header {
		min-height: 220px;
		.header-content-inner {
			margin-top: 0;
		}

	}
}
header {
	position: relative;
	width: 100%;
	min-height: 440px;
	text-align: center;
	color: #fff;
	background-image: url(/resources/img/hero.jpg);
	background-position: center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}

header .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
}

header .header-content-inner {
	margin-top: 55px;
}

header .header-content .header-content-inner h1 {
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 45px;
	color: #feffff;
}


header .header-content .header-content-inner span {
	margin-bottom: 50px;
	font-size: 26px;
	font-weight: 500;
	line-height: 15px;
	color: #feffff;
}
@media (max-width: 480px) {
	header .header-content .header-content-inner h1 {
		font-size: 40px;
	}

	header .header-content .header-content-inner span {
		font-size: 15px;
	}
}
@media(min-width:768px) {
	header .header-content {
		position: absolute;
		top: 50%;
		padding: 0 50px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	header .header-content .header-content-inner {
		margin-right: auto;
		margin-left: auto;
		max-width: 1000px;
	}

	header .header-content .header-content-inner p {
		margin-right: auto;
		margin-left: auto;
		max-width: 80%;
		font-size: 20px;
	}
}