/*-----Interior----*/
.section-title {
	margin: 40px 0 69px;

	h2 {
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 8px;
		margin-bottom: 36px;
	}

	p {
		color: #696969;
		margin-bottom: 1.7em;
		line-height: 1.6;
	}
}
