.modal-body {
  max-height:420px;
  overflow-y:auto;
}

.modal-open {
  overflow:hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  .btn {
    margin-top: 1em;
    width:auto;
    display: inline-block;
    background:$red !important;
    border:0 !important;
    color:white !important;
    font-weight: 400 !important;
  }
  @include viewport(sm){
    width:50%;
  }
  width:90%;
  margin:auto;
  max-height:500px;
  .header {
    background:$secondary;
    padding:1em 2em;
    h2 {
      display: inline;
    }
    .close {
    color:$red;
    line-height: 43px;
    @include opacity(.4);
    &:hover {
      @include opacity(.8);
    }
  }
  }
  background-color:#5a6165;
  border:0;
  border-radius:0;
  .main-form {
    label {
      color:#a9b1b5;
      font-size: 12px;
      font-weight: 100;
    }
    input, textarea {
      background:#494f53;
      color:#bababa;
    }
    textarea {
      min-height:100px;

    }
  }
}

.modal-backdrop, .modal-backdrop.fade.in {
  @include opacity(.9);
}
