// Intro
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
}
.nav {
	li {
		&:last-child {
			.dropdown-menu {
				left:auto;
				right:0;
			}
		}
		.dropdown-menu {
		  background: #E4E4E4!important;
		  text-align: center !important;
		  @include viewport (md ){
		  	background: white !important;
		  	text-align: left !important;
		  }
		}
		a {
			padding:10px 15px;
			display: inline-block;
		}
		&:hover {
			.drop {
				display: block;
			}
		}
		.drop {

			display: none;
			position: absolute;
			width:150px;
			background:white;
			li {
				font-weight: normal;
				
			}
		}
		background:none;
		a {
			background:none !important;
		}
		&:hover {
			> a {
				color:$red;
			}
		}
		&.active {
		color:$red;
		font-weight: 800;
			> a {
				color:$red;
			}
		}
	}
}
.intro {
	min-height: 50px;
	background-color: #ebebeb
}

.intro-left {
	li {
		float: left;
		border-left: 1px solid #c9c9c9;
		height: 50px;
		padding: 17px 15px;

		&:first-child {
			border: none;
			padding: 9px 15px 10px 0;
		}
	}
	.btn-default {
		color: white;
		background-color: #5a5a5a;
		border-color: #5a5a5a;
		border-radius: 3px;
		&:hover {
			color: #fafafa;
			background-color: #aeaeae;
			border-color: #aeaeae;
		}
	}
	span {
		font-size: 13px;
		color: #5a5a5a;
	}
	a {
		font-size: 13px;
		color: #5a5a5a;

		&:hover {
			color: #d90119;
		}
	}
}

.social li {
	float: right;
	padding: 15px;
}

.fa.fa-facebook-official.fa-2x  {
	color: #5a5a5a;

	&:hover {
		color: #142E4A;
	}
}
// Nav
.mainnav {
	@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			a {
				padding:1em;
			}
		}
	}
}


// Navbar
.navbar {
	margin-bottom: 0px;
	min-height: 110px;
	padding-top: 20px;
	border: none;
	background-color: transparent;
}

.nav.navbar-nav.pull-right-custom {
	padding-top: 10px;
	float: right;
}

.navbar-default .navbar-nav  li  a {
	text-transform: uppercase;
	font-size: 12px;
}





/*Sidebar Nav*/
.vertical {
	nav {
		border-right: 1px solid #aeaeae;
		margin-top: 15px;
		padding-bottom: 25px;
		li {
			&.active {
				 a {
					color:$red;
				}
			}
		}
		ul li a {
			color:#000000;
			font-size: 15px;
			font-weight: bold;
			line-height: 2em;
			text-transform: uppercase;
			&:hover {
				color:#d80019;
			}
		}	
	}
}


.sidebar-text {
	h3 {
		font-size: 15px;
		margin-bottom: 40px;
	}
	a {
		color:#d80019;
	}
}

@media (min-width: 768px) and (max-width: 992px) { 
	.navbar-nav  li  a {
		padding: 15px 10px;
	}
}

@media (max-width: 767px) { 
	.nav.navbar-nav.pull-right-custom {
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

@media (min-width:768px) {
	.sidebar-text h3 {
		font-size: 22px;
	}

	.vertical {
		nav {
			padding-bottom: 50px;
		}
	}
}