/*-----Services----*/

.fa.fa-stop {
	margin-right: 13px;
	color: #d80019;
}

.hello {
	margin: 40px 0 69px;

	span {
		color: #d80019;
		text-transform: uppercase;
	}

	h2 {
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 8px;
		margin-bottom: 36px;
	}

	p {
		color: #696969;
		margin-bottom: 1.7em;
		line-height: 1.6;
	}
}

.any-job {
	margin: 18px 0 0 0;

	span {
		color: #d80019;
		text-transform: uppercase;
	}

	h2 {
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 8px;
		margin-bottom: 36px;
	}

	p {
		color: #696969;
		margin-bottom: 1em;
		line-height: 1.6;
	}
}

.hello-button {
	margin-top: 138px;
}

.btn-hello {
	color: #fbe7e6;
	background-color: #d90119;
	border-color: #d90119;
	padding: 15px 28px;
	font-size: 13px;
	line-height: 1.333;
	border-radius: 6px;
	font-weight: 700;

	&:visited {
		color: #fbe7e6;
	}
	
	&:hover {
		color: #fbe7e6;
		background-color: #8a0312;
		border-color: #8a0312;
	}
}

// Residentail/Commerical Img
.residential-img {
	position: relative;
	max-height: 400px;

	img {
		width: 100%;
		vertical-align: top;
		max-height: inherit;
	}
	
	.residential-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.7;
		cursor: pointer;

		&:hover {
			background-color: rgba(138, 3, 18, 0.8);
		}
	}

	.content {
		left: 0;
		position:absolute;
		text-align:center;
		top: 30px;
		width: 100%;
		margin-top: 125px;

		h2 {
			margin-top: 0;
			margin-bottom: 0;
			text-transform: uppercase;
			font-weight: 600;
			color: #feffff;
			height: auto;
		}

		span {
			margin-bottom: 50px;
			font-size: 14px;
			font-weight: 500;
			line-height: 15px;
			color: #feffff;
		}
	}
}

.commercial-img {
	position: relative;
	max-height: 400px;

	img {
		width: 100%;
		vertical-align: top;
		max-height: inherit;
	}
	.commercial-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.7;
		cursor: pointer;

		&:hover {
			background-color: rgba(138, 3, 18, 0.8);
		}
	}
	.content {
		left: 0;
		position:absolute;
		text-align:center;
		top: 30px;
		width: 100%;
		margin-top: 125px;
		
		h2 {
			margin-top: 0;
			margin-bottom: 0;
			text-transform: uppercase;
			font-weight: 600;
			color: #feffff;
			height: auto;
		}

		span {
			margin-bottom: 50px;
			font-size: 14px;
			font-weight: 500;
			line-height: 15px;
			color: #feffff;
		}
	}
}

.services-sidebar {
	li {
		padding:1em 0;
		border-bottom: solid 1px #aeaeae;
		&:last-child {
			border-bottom: 0;
		}
	}
}

@media (max-width: 767px) { 
	.hello-button {
		margin-top: 0;
	}
}

@media (min-width:768px) {
	.hello-button {
		text-align: right;
	}
}

@media (max-width: 480px) {
	.residential-img {
		display: block;
	}

	.commerical-img {
		display: block;
	}
}