body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  font-weight: bold;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$secondary;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width:768px) {
  h2 {
    font-size: 30px;
  }
}