// COLOR PALETTE
$primary: #000000;
$secondary: #696969;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: #d80019;
$bodybtn: #d80019;
$bodybtnhover: #8a0312;
$red: #D80017;

// FONT STACKS
$heading: Exo,sans-serif;
$body: Raleway,sans-serif;

