* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
  	width: auto;
  } 
}

.testimonials {
	li {
		p:last-child {
			margin-bottom: 0;
		}
		.testimonial-quote {
			margin-bottom: 1em;
			* {
				font-weight: 800;
			}
		}
		margin-bottom: 1em;
		border-bottom: solid 1px #ebebeb;
		padding-bottom: 1em;
		.meta {
			p {
				margin-bottom: 0;
			}
		}
	}
}

/* MAIN */

section {
	padding:1em;
}

.wrap {
	max-width: 940px;
	&:before, &:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
}

hr {
	border-top: 1px solid #aeaeae;
}

.no-gutter {
	padding: 1px 0;
}

/*Hire Us*/
.hire-us {
	border: 1px solid #aeaeae;
	min-height: 90px;
	margin: 46px 0 94px 0;
	text-align: left;

	p {
		color: #a7a7a7;
		margin:35px 0 35px 35px;
		padding-right: 10px;
		line-height: 1.6;
	}

	.btn {
		color: #fbe7e6;
		background-color: #d90119;
		border-color: #d90119;
		padding: 15px 28px;
		font-size: 13px;
		line-height: 1.333;
		border-radius: 6px;
		font-weight: 700;
		margin: 35px 35px 35px 0;

		&:hover {
			color: #fbe7e6;
			background-color: #8a0312;
			border-color: #8a0312;
		} 
	} 
}

/*Choose Us*/
.choose-us {
	margin: 12px 0 30px 0;

	h2 {
		color: #d80019;
	}

	p {
		color: #696969;
		margin-bottom: 1em;
		line-height: 1.6;
	}
}

/*Great Work*/
.great-work {
	margin: 68px 0 0 0;

	span {
		color: #d80019;
		text-transform: uppercase;
	}

	h2 {
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 8px;
		margin-bottom: 36px;
	}
}

/*Solid Connection*/
.solid-connection {
	margin: 67px 0 0 0;

	span {
		color: #d80019;
		text-transform: uppercase;
	}

	h2 {
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 8px;
		margin-bottom: 36px;
	}
}

/* See More */
.see-more {
	margin: 88px 0 38px 0;

	.btn {
		color: #fbe7e6;
		background-color: #d90119;
		border-color: #d90119;
		padding: 15px 28px;
		font-size: 13px;
		line-height: 1.333;
		border-radius: 6px;
		font-weight: 700;

		&:hover {
			color: #fbe7e6;
			background-color: #8a0312;
			border-color: #8a0312;
		}
	}
}

/* FOOTER */
.footer {
	padding: 56px 0;
	background-color: #000000;

	h5 {
		color: #cbcbcb;
	}

	a {
		color: #686868;
		&:hover {
			color: #d90119;
		}
	}

	p {
		color: #686868;
	}

	img {
		margin: 0 0 30px 0;
	}

	.fa {
		color: #cbcbcb;
	}
}


.contact { 
	h5 {
		margin-left: 20px;
		padding-left: 20px;
	}

	p {
		margin-left: 20px;
		padding-bottom: 10px;
		padding-left: 20px;

		&:nth-child(-n+3) {
			border-bottom: solid 1px #aeaeae;
		}
	}

	.btn {
		margin: 33px 0 0 40px;
		color: #696969;
		background-color: #5a5a5a;
		border-color: #5a5a5a;
		padding: 15px 28px;
		font-size: 13px;
		line-height: 1.333;
		border-radius: 6px;
		font-weight: 700;

		&:hover {
			color: #fafafa;
			background-color: #aeaeae;
			border-color: #aeaeae;
		}
	}
}

.hours {
	h5 {
		margin-left: 20px;
	}
	p {
		margin-left: 20px;
	}
}

.navigation {
	h5 {
		margin-left: 20px;
	}

	li {
		padding-left: 20px;
		display: block;
		
		&:nth-child(-n+5) {
			border-bottom: solid 1px #aeaeae;
		}
	}

	a {
		margin-left: 13px;
		font-size: 15px;
		line-height: 50px;
		text-transform: uppercase;
	}
}

/* BUTTON */

.btn, a:visited.btn, button { 
	// background-color: $bodybtn;
	&:hover, &:focus {
	// background-color: $bodybtnhover;
}
}

@media (min-width:768px) {
	section {
		padding:2em;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-content {
	img {
		@media (max-width:500px){
			margin:1em 0 !important;
			float:none !important;
			width:100% !important;
		}
	}
}