/* line 1, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 10, ../sass/main.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 17, ../sass/main.scss */
.lt-ie9 img {
  width: auto;
}

/* line 23, ../sass/main.scss */
.testimonials li {
  margin-bottom: 1em;
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 1em;
}
/* line 24, ../sass/main.scss */
.testimonials li p:last-child {
  margin-bottom: 0;
}
/* line 27, ../sass/main.scss */
.testimonials li .testimonial-quote {
  margin-bottom: 1em;
}
/* line 29, ../sass/main.scss */
.testimonials li .testimonial-quote * {
  font-weight: 800;
}
/* line 37, ../sass/main.scss */
.testimonials li .meta p {
  margin-bottom: 0;
}

/* MAIN */
/* line 46, ../sass/main.scss */
section {
  padding: 1em;
}

/* line 50, ../sass/main.scss */
.wrap {
  max-width: 940px;
}
/* line 52, ../sass/main.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 57, ../sass/main.scss */
.wrap:after {
  clear: both;
}

/* line 62, ../sass/main.scss */
hr {
  border-top: 1px solid #aeaeae;
}

/* line 66, ../sass/main.scss */
.no-gutter {
  padding: 1px 0;
}

/*Hire Us*/
/* line 71, ../sass/main.scss */
.hire-us {
  border: 1px solid #aeaeae;
  min-height: 90px;
  margin: 46px 0 94px 0;
  text-align: left;
}
/* line 77, ../sass/main.scss */
.hire-us p {
  color: #a7a7a7;
  margin: 35px 0 35px 35px;
  padding-right: 10px;
  line-height: 1.6;
}
/* line 84, ../sass/main.scss */
.hire-us .btn {
  color: #fbe7e6;
  background-color: #d90119;
  border-color: #d90119;
  padding: 15px 28px;
  font-size: 13px;
  line-height: 1.333;
  border-radius: 6px;
  font-weight: 700;
  margin: 35px 35px 35px 0;
}
/* line 95, ../sass/main.scss */
.hire-us .btn:hover {
  color: #fbe7e6;
  background-color: #8a0312;
  border-color: #8a0312;
}

/*Choose Us*/
/* line 104, ../sass/main.scss */
.choose-us {
  margin: 12px 0 30px 0;
}
/* line 107, ../sass/main.scss */
.choose-us h2 {
  color: #d80019;
}
/* line 111, ../sass/main.scss */
.choose-us p {
  color: #696969;
  margin-bottom: 1em;
  line-height: 1.6;
}

/*Great Work*/
/* line 119, ../sass/main.scss */
.great-work {
  margin: 68px 0 0 0;
}
/* line 122, ../sass/main.scss */
.great-work span {
  color: #d80019;
  text-transform: uppercase;
}
/* line 127, ../sass/main.scss */
.great-work h2 {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 36px;
}

/*Solid Connection*/
/* line 137, ../sass/main.scss */
.solid-connection {
  margin: 67px 0 0 0;
}
/* line 140, ../sass/main.scss */
.solid-connection span {
  color: #d80019;
  text-transform: uppercase;
}
/* line 145, ../sass/main.scss */
.solid-connection h2 {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 36px;
}

/* See More */
/* line 155, ../sass/main.scss */
.see-more {
  margin: 88px 0 38px 0;
}
/* line 158, ../sass/main.scss */
.see-more .btn {
  color: #fbe7e6;
  background-color: #d90119;
  border-color: #d90119;
  padding: 15px 28px;
  font-size: 13px;
  line-height: 1.333;
  border-radius: 6px;
  font-weight: 700;
}
/* line 168, ../sass/main.scss */
.see-more .btn:hover {
  color: #fbe7e6;
  background-color: #8a0312;
  border-color: #8a0312;
}

/* FOOTER */
/* line 177, ../sass/main.scss */
.footer {
  padding: 56px 0;
  background-color: #000000;
}
/* line 181, ../sass/main.scss */
.footer h5 {
  color: #cbcbcb;
}
/* line 185, ../sass/main.scss */
.footer a {
  color: #686868;
}
/* line 187, ../sass/main.scss */
.footer a:hover {
  color: #d90119;
}
/* line 192, ../sass/main.scss */
.footer p {
  color: #686868;
}
/* line 196, ../sass/main.scss */
.footer img {
  margin: 0 0 30px 0;
}
/* line 200, ../sass/main.scss */
.footer .fa {
  color: #cbcbcb;
}

/* line 207, ../sass/main.scss */
.contact h5 {
  margin-left: 20px;
  padding-left: 20px;
}
/* line 212, ../sass/main.scss */
.contact p {
  margin-left: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
/* line 217, ../sass/main.scss */
.contact p:nth-child(-n+3) {
  border-bottom: solid 1px #aeaeae;
}
/* line 222, ../sass/main.scss */
.contact .btn {
  margin: 33px 0 0 40px;
  color: #696969;
  background-color: #5a5a5a;
  border-color: #5a5a5a;
  padding: 15px 28px;
  font-size: 13px;
  line-height: 1.333;
  border-radius: 6px;
  font-weight: 700;
}
/* line 233, ../sass/main.scss */
.contact .btn:hover {
  color: #fafafa;
  background-color: #aeaeae;
  border-color: #aeaeae;
}

/* line 242, ../sass/main.scss */
.hours h5 {
  margin-left: 20px;
}
/* line 245, ../sass/main.scss */
.hours p {
  margin-left: 20px;
}

/* line 251, ../sass/main.scss */
.navigation h5 {
  margin-left: 20px;
}
/* line 255, ../sass/main.scss */
.navigation li {
  padding-left: 20px;
  display: block;
}
/* line 259, ../sass/main.scss */
.navigation li:nth-child(-n+5) {
  border-bottom: solid 1px #aeaeae;
}
/* line 264, ../sass/main.scss */
.navigation a {
  margin-left: 13px;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

/* BUTTON */
@media (min-width: 768px) {
  /* line 282, ../sass/main.scss */
  section {
    padding: 2em;
  }
}
/* line 288, ../sass/main.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 294, ../sass/main.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  /* line 305, ../sass/main.scss */
  .main-content img {
    margin: 1em 0 !important;
    float: none !important;
    width: 100% !important;
  }
}
